label {
  display: block;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #ddd;
  outline: none;
  font-size: 16px;
  width: 100%;
  font-family: inherit;
  transition: all 0.4s;
}

select {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: solid 2px #ddd;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

.field-error {
  border-bottom: solid 2px red;
}

.field-error:focus {
  border-bottom: solid 2px red;
}

input:focus {
  border-bottom-color:var(--color-accent);
}

.flex-btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.calc-sm div {
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

.calc-sm {
  grid-area: calc;
  margin-left: 30px;
}

.input-fragment {
  grid-area: input;
}


.calc-sm-top {
  background-color: #2C3F46;
}
.calc-sm-bottom {
  background-color: #586A73;
}

.consent-form {
  grid-area: consent;
}

.form-calc-grid {
  display: grid;
  grid-template-columns: auto 35%;
  grid-template-areas: 
                      "input calc"
                      "consent consent";
}

@media screen and (max-width: 768px) {
  .form-calc-grid {
    display: block;
  }

  .calc-sm {
    margin-top: 50px;
  }
}