label {
  display: block;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #ddd;
  outline: none;
  font-size: 16px;
  width: 100%;
}

select {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: solid 2px #ddd;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

.field-error {
  border-bottom: solid 2px red;
}

.field-error:focus {
  border-bottom: solid 2px red;
}

input:focus {
  border-bottom-color:#fdc300;
}

.flex-btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.calc-sm div {
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

.calc-sm {
  grid-area: calc;
  margin-left: 30px;
}

.input-fragment {
  grid-area: input;
}

.calc-sm-top {
  background-color: #2C3F46;
}
.calc-sm-bottom {
  background-color: #586A73;
}

.form-calc-grid {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-areas: "input calc";
}