label {
  display: block;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #ddd;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.field-error {
  border-bottom: solid 2px red;
}

.field-error:focus {
  border-bottom: solid 2px red;
}

input:focus {
  border-bottom-color:#fdc300;
}

#address-container {
  margin: 50px 0;
  width: 50%;
}


.flex-container {
  display: flex;
}

.flex-btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}