
.navLinks {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    padding: 16px;
    transition: all 0.4s;
}


.navLinkActive {
    background-color: #dddddd;
    font-weight: 900;
}


.navLinks a:hover {
    background-color: #dddddd;
}

.navLine {
    background-color: var(--color-primary);
    height: 1px;
    border: none;
}



.burger {
    display: none;
    user-select: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: var(--color-primary);
    margin: 5px;
    transition: all .3s;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .navLine {
        display: none;
    }

    .navLinks li {
        margin: 10px;
    }

    .navLinks {
        position: absolute;
        top: 126px;
        overflow: hidden;
        left: 0;
        max-height: 0;
        display: flex;
        align-items: center;
        row-gap: 1em;
        flex-direction: column;
        width: 100%;
        transition: max-height 0.3s ease-out;
        background-color: var(--color-primary);
        justify-content: flex-start;
    }

    .navLinks a {
        color: #ffffff;
    }

    .navLinks a:hover {
        color: var(--color-primary);
    }

    .burger {
        display: block;
        position: absolute;
        top: 50px;
        right: 20px;
        cursor: pointer;
        margin: auto;
    }

    .navActive {
        max-height: 100vh;

    }

    .burgerTransformation .line1 {
        transform: rotate(-405deg) translate(-5px, 5px);
    }
    .burgerTransformation .line2 {
        opacity: 0;
        visibility: hidden;
    }
    .burgerTransformation .line3 {
        transform: rotate(405deg) translate(-5px, -5px);
    }
}