
.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #304148;
    padding: 16px;
    transition: 0.4s;
}

.nav-links a:focus {
    background-color: #dddddd;
    font-weight: 900;
}


.nav-links a:hover {
    background-color: #dddddd;
}


ul {
    padding: 0;
}

.burger {
    display: none;
    user-select: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #304148;
    margin: 5px;
    transition: all .3s ease;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    hr {
        display: none;
    }

    .nav-links li {
        margin: 10px;
    }

    .nav-links {
        position: absolute;
        top: 26%;
        overflow: hidden;
        left: 0;
        max-height: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        transition: max-height 0.3s ease-out;
        background-color: #304148;
        justify-content: flex-start;
    }

    .nav-links a {
        color: #ffffff;
    }

    nav {
        display: flex;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin: auto;
    }

    .nav-active {
        max-height: 100vh;

    }

    .burger-transformation .line1 {
        transform: rotate(-405deg) translate(-5px, 5px);
    }
    .burger-transformation .line2 {
        opacity: 0;
    }
    .burger-transformation .line3 {
        transform: rotate(405deg) translate(-5px, -5px);
    }
}