.footer div {
    margin: 10px;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer p {
    color: #ffffff;
} 


.footer {
    background-color: var(--color-primary);
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}