
.calc-top p {
  color: #FDC300;
}

.calc-top {
  background-color: #2C3F46;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}

.calc-top label.active-person-label {
  opacity: 1;
}

.calc-top label {
  opacity: 0.2;
  cursor: pointer;
}

.calc-top input[type="radio"] {
  display: none;
}

.mb-0 {
  margin-bottom: 0;
}

.person-img {
  width: 70px;
}

@media screen and (max-width: 768px) {
  .person-img {
    width: 50px;
  }
}