

body {
    margin: 0;
    color: #304148;
   
}

* {
    font-family: 'Raleway', sans-serif;
    
}

hr {
    background-color: #304148;
    height: 1px;
    border: none;
}

button {
    border: none;
    padding: 15px;
    background-color: #fdc300;
    text-transform: uppercase;
    transition: all 0.2s linear;
    font-size: 16px;
  }
  
button:hover {
    background-color: #304148;
    color: #ffffff;
}

button:disabled:hover {
    background-color: #fdc300;
    color: #304148;
}

.main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
    min-height: 60vh;
    padding: 20px;
    margin: 0 20%;
}


.footer {
    grid-area: footer;
    background-color: #304148;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}

.footer p {
    color: #ffffff;
} 

/* global classes */

.flex-container {
    display: flex;
  }

@media screen and (max-width: 768px) {
    .content {
        margin: 0 5%;
    }
}