body {
    font-family: 'Raleway', sans-serif;
    color: #304148;
    margin: 0;
}

hr {
    background-color: #304148;
    height: 1px;
    border: none;
}

.main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    margin: 0 10%;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
    height: 60vh;
    padding: 20px;
}


.footer {
    grid-area: footer;
    background-color: #304148;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .main {
        margin: 0;
    }
}