:root {
    /* define theme colors */
    --color-primary: #304148;
    --color-accent: #fdc300;
}

html {
    box-sizing: border-box;
}

body {
    color: var(--color-primary);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}


button {
    border: none;
    padding: 15px;
    background-color: var(--color-accent);
    text-transform: uppercase;
    transition: all 0.2s linear;
    font-size: 16px;
  }
  
button:hover {
    background-color: var(--color-primary);
    color: #ffffff;
}

button:disabled:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.main {
}

.header {
   
}

.content {
    min-height: 60vh;
    padding: 20px;
    margin: 0 20%;
}

@media screen and (max-width: 768px) {
    .content {
        margin: 0 5%;
    }
}


.footer {
    background-color: var(--color-primary);
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}

.footer p {
    color: #ffffff;
} 

/* global classes */

.flex {
    display: flex;
  }
  
